{% extends "model-page.html" %}

{% block content %}
<br><br><br>
<div class="container">
    <div class="col-sm-7" style="background-color:rgba(23,162,184,0.45);border-radius:25px;">
        <br><br>
        <h2><b>Se increva abaixo!</b></h2>
        <br><hr/><br>
        {% for message in messages %}
            <div align="center">
                {% if message.tags == 'error' %}
                    <h5 class="text-danger">* {{ message }}</h5><br><hr/>
                {% else %}
                    <h5 class="text-success">{{ message }}</h5><br><hr/>
                {% endif %}
            </div>
        {% endfor %}
        <br><h5><b>Dados pessoais</b></h5><br><br>
        <form action="submit" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="col-sm-12">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <h6><label class="float-right" for="name">Nome:</label></h6>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Coloque seu nome">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <h6><label class="float-right" for="cpf">CPF:</label></h6>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Coloque seu cpf">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <h6><label class="float-right" for="born_date">Data de Nascimento:</label></h6>
                    </div>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="born_date" name="born_date">
                    </div>
                </div>
            </div>
            <br><hr/><br><h5><b>Documentos (somente em PDF)</b></h5><br><br>
            <div class="form-group row">
                <div class="col-sm-4">
                    <h6><label class="float-right" for="rg_pdf">RG:</label></h6>
                </div>
                <div class="col-sm-8">
                    <input type="file" class="form-control-file" id="rg_pdf" name="rg_pdf" accept="application/pdf">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <h6><label class="float-right" for="cpf_pdf">CPF:</label></h6>
                </div>
                <div class="col-sm-8">
                    <input type="file" class="form-control-file" id="cpf_pdf" name="cpf_pdf" accept="application/pdf">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <h6><label class="float-right" for="contract_pdf">Contrato de trabalho:</label></h6>
                </div>
                <div class="col-sm-8">
                    <input type="file" class="form-control-file" id="contract_pdf" name="contract_pdf" accept="application/pdf">
                </div>
            </div>
            <br><hr/><br>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        <br><br>
    </div>
    <br><br>
</div>
{% endblock %}