{% extends "model-page.html" %}

{% block content %}

<br><br><br>
<div class="col-sm-4 content-customized">
    <br><br>
    <h1>Login</h1><br><br>
    <form action="submit" method="POST"> {% csrf_token %}
        <div class="form-group row col-sm-10">
            <div class="col-sm-3">
                <h5><label class="float-right" for="username">Usuário:</label></h5>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="Entre com seu usuário">
            </div>
            <br><br><br><br>
            <div class="col-sm-3">
                <h5><label class="float-right" for="password">Senha:</label></h5>
            </div>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Entre com a sua senha">
            </div>
        </div>
        <br><br>
        <button class="btn btn-primary" type="submit">Entrar</button>
        <a href="/">
            <button type="button" class="btn btn-secondary">Voltar</button>
        </a>
    </form>
    <br><br><br>
    {% for message in messages %}
        <div align="center">
            <h5 class="text-danger">Erro: {{ message }}</h5>
        </div>
        <br><br>
    {% endfor %}
</div>
<br><br><br>
{% endblock %}
